body {
  background-color: #f9dcd1;
}
h1 {
  color:green;
  width: 50%;
  text-align: center;
  margin: 2em auto;
}

#coders {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  /* align-content: center; */
}

.profile {
  /* border: 10px yellow solid; */
  padding: 20px;
  margin: 1em;
  background-color: #a7f442;
  order: 4;
}

img {
  width: 200px;
  height: 200px;
}

h3, p {
  width: auto;
  text-align: center;
  color: red;
}
